button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
}

button:active {
  background: map-get($grayscale-map , standard-gray)
}

button[type="submit"] {
  color: map-get($grayscale-map , white );
  background: $color-primary;
}

button[type="submit"]:active {
  color: map-get($grayscale-map, light-gray );
  background: $color-secondary;
}